* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: var(--colors-neutral-900, #1A1925);

}
nav {
    width: 100%;
    /* height: 70px; */
    display: flex;
    padding: 0 100px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    /* border-bottom: 1px solid rgb(201, 201, 201); */
    }
    nav>img {
    width: auto;
    /* max-height: 100px; */
    object-fit: contain;
    object-position: left center;
}
nav>ul {
    flex-grow: 1;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1px;
    font-size: 16px;
    color: rgb(253, 253, 253);
}

nav>ul>li {
    text-decoration: none;
    line-height: 40px;
    padding: 2px 30px;
    border: 1px solid white;
    background: var(--colors-neutral-800, #262540);
    border-radius: 8px;

}
.W{
    font-size: 20px;
    color: rgb(251, 250, 251);
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

h1{color: var(--colors-neutral-0, #FFF);
text-align: center;
margin-top: 20px;
margin-bottom: 10px;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 62.4px */}
.search{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

input[type="search"]
{
  width: 300px; 
  padding: 12px;
  margin: 2px 0; 
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; 
  border-radius: var(--corner-radius-12, 12px);
background: var(--colors-neutral-800, #262540);
}


input[type="submit"] {
border-radius: var(--corner-radius-12, 12px);
background: var(--colors-blue-500, #4658D9);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer; 
}
input[type="submit"]:hover {
  background-color: #45a049; 
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}


 .hero{
    width: auto;
    display: grid;
    padding: 0 100px;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    margin-bottom: 40px;
    gap: auto;
    margin-left: 100px;
    margin-right: auto;
    margin-left: 0px;
    /* margin-right: -400px; */
    color: white;
}

.hero>.left>.context{
    display: flex;
  width: 800px;
    height: 286px;
    /* border: 2px solid #FFF; */
    background: rgb(6, 49, 134);
    border-radius: 10px;
}   

.hero>.left>.context>.a {
display: flex;
flex-direction: column;
align-items: flex-start;
margin-top: 100px;
margin-left: 40px;
}
.hero>.left>.context>.a :first-child{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}
.hero>.left>.context>.b{
    display: flex;
    margin-top: 80px;
    margin-left: 275px;
}

.hero>.left>.context>.b img{
width: 120px;
height: 120px;
justify-content: center;
align-items: center;
/* aspect-ratio: 1/1; */
}
.hero>.left>.context>.b p{
    color: var(--colors-neutral-0, #FFF);
text-align: center;

/* text-preset-1 */
font-size: 96px;
font-style: italic;
font-weight: 600;
line-height: 100%; /* 96px */
letter-spacing: -1.92px;}

.hero>.left>.left2{display: flex;
align-items: center;
gap: var(--spacing-200, 16px);
align-self: stretch;
margin-top: 40px;
margin-bottom: 40px;
}
.hero>.left>.left2>.c{
    display: flex;
padding: var(--spacing-200, 16px) var(--spacing-125, 10px);
flex-direction: column;
align-items: center;
gap: var(--spacing-200, 16px);
flex: 1 0 0;
    border-radius: var(--corner-radius-12, 12px);
border: 1px solid var(--colors-neutral-600, #3C3B5E);
background: var(--colors-neutral-800, #262540);
}
.hero>.left>.left2>.c p:first-child{
    font-size: 18px;
    color: var(--colors-neutral-0, #FFF);
}
.hero>.left>.left2>.c p:last-child{
    font-size: 32px;
}

.hero>.left>.df{
    color: var(--colors-neutral-0, #FFF);
/* text-preset-5 */
font-size: 20px;
font-weight: 600;
line-height: 120%; /* 24px */
margin-bottom: 20px;

}

.hero>.left>.weather{display: flex;
align-items: center;
gap: var(--spacing-200, 16px);
align-self: stretch;
}
.hero>.left>.weather>.wday{
    display: flex;
padding: var(--spacing-200, 16px) var(--spacing-125, 10px);
flex-direction: column;
align-items: center;
gap: var(--spacing-200, 16px);
flex: 1 0 0;
    border-radius: var(--corner-radius-12, 12px);
border: 1px solid var(--colors-neutral-600, #3C3B5E);
background: var(--colors-neutral-800, #262540);
}
.hero>.left>.weather>.wday>.degree{
    display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
margin-top: 10px;
}




.right{
    display: flex;
width: 384px;
padding: var(--spacing-300, 24px);
flex-direction: column;
align-items: flex-start;
gap: var(--spacing-200, 16px);
border-radius: var(--corner-radius-20, 20px);
background: var(--colors-neutral-800, #262540);
}

.right > .HourlyForecast{
  display: flex;
width: 336px;
justify-content: space-between;
align-items: center;
}
.right > .HourlyForecast :last-child{
    display: flex;
padding: 8px 16px;
justify-content: space-between;
align-items: center;
gap: 8px;
border-radius: 8px;
background: var(--colors-neutral-600, #3C3B5E);
}
.right > .forecast > .time{
    width: 325px;
  border-radius: 8px;
border: 1px solid  #3C3B5E;
background: #302F4A; display: flex;
padding: 12px 12px;
gap: 8px;
/* justify-content: space-between; */
align-items: center;
margin-top: 10px;
margin-bottom: 10px;
}
.right> .forecast{
    margin-left: 5px;
    margin-bottom: 10px;
}

.hero>.right > .forecast > .time :nth-child(3){
    display: flex;
    margin-left: auto;

}



@media (max-width: 768px){

    .hero {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
     .hero>.left>.context{
        height: auto;
        width: 100%;
        
        margin-left: 0;
        margin-top: 20px;
        margin-right: -60px;}

        .hero>.left>.context>.a{
            margin-left: 30px;
            margin-top: 50px;
        }

        .hero>.left>.context>.b{
            margin-left: 220px;
            margin-top: 40px;
        }

    nav {
        width: 100%;
         display: flex;
         justify-content: space-between;
            padding: 10px 20px;}

    nav > ul {
       
    
        gap: 10px;
        margin-top: 10px;  
    }

    .hero>.right{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;

     }
     .hero>.right>.HourlyForecast{
         width: 100%;
     }
     .hero>.right>.forecast>.time{
        width: 675px
     }
}

@media (max-width: 480px){
    
    .hero {
        grid-template-columns: 1fr;
        padding: o 5px;
        width: 100%;
    }
    .hero>.left{
        width: 100%;
        margin-right: -10px;
        margin-left: -10px;
    }
    body h1{
        width: 100%;
        margin-left: 150px;
    }
    .search{
        width: 100%;
        font-size: 24px;
        align-items: center;
        margin-left: 150px;
        margin-top: 40px;
    }
     input[type="search"]{
        width: 100%;
        padding: 12px 20px;
        border: 1px solid var(--colors-neutral-600, #3C3B5E);
        border-radius: var(--corner-radius-12, 12px);
        background: var(--colors-neutral-800, #262540);
        color: var(--colors-neutral-0, #FFF);
        font-size: 22px;
    }
    .hero>.left>.context{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin-right: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }

        .hero>.left>.context>.a{
            margin-left: 0px;
            margin-top: 50px;
            font-size: 32px;
            text-align: center;
            align-items: center;
        }

        .hero>.left>.context>.b{
             text-align: center;
            align-items: center;
            margin-left: 400px;
            margin-top: 40px;
            margin-right: 00px;
        }
        .hero>.left>.left2>.c{
            width: 100%;
            display:flex;
           
        }

        .hero>.left>.left2{
            display: grid;
            grid-template-columns: repeat(2, 1fr);

        }

    nav {
        width: 100%;
         display: flex;
         justify-content: space-between;
        padding: 10px 20px;
   }

    nav > ul {
        display: flex;
        gap: 10px;
        margin-top: 10px;  
        
        margin-right: -250px;
   
    }

    .hero>.right{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        ;

     }
     .hero>.right>.HourlyForecast{
         width: 100%;
     }
     .hero>.right>.forecast>.time{
        width: 100%
     }

     .hero>.left>.weather>.wday.left2>.c{
            width: 100%;
           
        }
        /* .hero>.weather{
            width: 100%;
        } */
        /* .hero>.weather>.wday{
            width: 100%;
        } */

        .hero>.left>.weather{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

        }
        .hero>.right>.forecast{
            width: 100%;
            justify-content: space-between;
        }
}

